# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environments
.venv/
env/
venv/
*.egg-info/

# Streamlit
.streamlit/

# VS Code / Codespaces
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

.idea